<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Notes</title>
  <link rel="stylesheet" href="../static/CSS/asdf.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="bggrey">
  <ul>
    <li>
      <a href="#">
        <h2>Title #1</h2>
        <textarea name ="Notes"></textarea>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #2</h2>
        <textarea name ="Notes"></textarea>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #3</h2>
        <textarea name ="Notes"></textarea>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #4</h2>
        <textarea name ="Notes"></textarea>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #5</h2>
       <textarea name ="Notes"></textarea>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #6</h2>
        <textarea name ="Notes"></textarea>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #2</h2>
        <textarea name ="Notes"></textarea>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #7</h2>
        <textarea name ="Notes"></textarea>
      </a>
    </li>
    <li>
      <a href="#">
        <h2>Title #8</h2>
        <textarea name ="Notes"></textarea>
      </a>
    </li>
  </ul>
</body>
</html>